@model HotLikes.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Welcome to HotLikes - login in, sign up and more";
}

@using (Html.BeginForm("UserVerification", "Account", FormMethod.Post, new { Id = "register-form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Sign Up</legend>
        <div class="controls">
            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", id = "left" })
            @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name" })
        </div>

        <div class="controls full">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Your Email Address" })
        </div>

        <div class="controls full">
            @Html.TextBoxFor(m => m.ConfirmEmail, new { placeholder = "Re-enter Email Address" })
        </div>

        <div class="controls full">
            @Html.PasswordFor(m => m.Password, new { placeholder = "New Password" })
        </div>

        <div class="controls">
            <h2>Birthday</h2>
            <select name="Day">
                <option value="0" selected="selected">Day</option>
                @for (int i = 1; i < 32; i++)
                {
                                    <option value="@i">@i</option>
                }
            </select>
            <select name="Month">
                <option value="0" selected="selected">Month</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
            <select name="Year">
                <option value="0" selected="selected">Year</option>
                @for (int i = 0; i < 110; i++)
                {
                                    <option value="@(DateTime.Now.Year - i)">@(DateTime.Now.Year - i)</option>
                }
            </select>
        </div>
        <div class="controls radio">
            <span>
                <input type="radio" name="Gender" value="1" id="male" />
                <label for="male">Male</label>
            </span>
            <span>
                <input type="radio" name="Gender" value="2" id="female" />
                <label for="female">Female</label>
            </span>
        </div>
        <div>
            <input type="submit" value="Register" class="btn registerbtn" />
        </div>
        @Html.ValidationSummary()
    </fieldset>
    
   
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
