@model HotLikes.ViewModels.User.SingleUserViewModel
<nav class="container">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
            @Html.AntiForgeryToken()
            @Html.ActionLink("HotLikes", "Index", "User",
                null, new { @id = "user-logo", })

            <ul id="user-panel-one">
                <li>
                    @Html.ActionLink("Friends", "All", "Friend",
                        null, new { @id = "friends", })
                </li>
                <li>
                    @Html.ActionLink("Messages", "Index", "Home",
                        null)
                </li>
            </ul>

            <ul id="user-panel-two">
                <li>
                    @Html.ActionLink(@Model.FullName, "Index", "Home",
                        null)
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
            </ul>
    }
</nav>